<nav
  class="
    navbar navbar-expand navbar-light
    bg-light
    mb-3
    my-sm-5
    w-75
    py-2
    m-auto
    sticky-top
  "
>
  <div class="container-fluid p-0">
    <!-- title -->
    <a class="navbar-brand px-3" href="/">Lords of the Memes</a>

    <!-- menu -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-center">
        <% if (!user) { %>
        <li class="nav-item">
          <a
            class="
              btn btn-dark
              text-light
              spacing
              rounded-pill
              fw-bold
              mx-2
              p-2
              px-sm-3
            "
            aria-current="page"
            href="/signup"
            >Sign Up</a
          >
        </li>

        <li class="nav-item">
          <a
            class="
              btn btn-dark
              text-light
              spacing
              rounded-pill
              fw-bold
              mx-2
              p-2
              px-sm-3
            "
            href="/login"
            >Login</a
          >
        </li>

        <% } else { %>

        <li class="nav-item">
          <a
            class="btn btn-dark text-light spacing rounded-pill fw-bold create"
            href="/new-message"
            >Create Message</a
          >
        </li>

        <li class="nav-item dropdown px-3">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <% if(!user.avatar) { %>
            <img
              src="/images/avatars/default.png"
              alt="Avatar"
              class="rounded-circle profile border"
            />

            <% } else { %>
            <!-- prettier-ignore -->
            <% let avatar = `/images/avatars/${user.avatar}.jpg` %>
            <img
              src="<%=avatar%>"
              alt="Avatar"
              class="rounded-circle profile border"
            />
            <% } %>
          </a>

          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="/profile/<%=user._id%>"
                >View Profile</a
              >
            </li>

            <% if (!user.admin) { %>
            <li>
              <a class="dropdown-item" href="/admin-form">Become an admin</a>
            </li>

            <% } %>
            <li>
              <a class="dropdown-item" href="/logout">Log Out</a>
            </li>
          </ul>
        </li>

        <% } %>
      </ul>
    </div>
  </div>
</nav>
