<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div
      class="
        container-fluid
        d-flex
        justify-content-center
        align-items-center
        h-100
      "
    >
      <div class="bg-light w-50 p-4 rounded w-80">
        <div class="text-center">
          <h2>Become an admin</h2>
          <p>One simply does not become an admin without the secret phrase.</p>
        </div>

        <!-- errors -->
        <% if(typeof errors !== 'undefined'){ %>
        <ul>
          <% errors.forEach(err => { %>
          <li class="text-danger"><%= err.message %></li>
          <% }) %>
        </ul>
        <% } %>

        <!-- prettier-ignore -->
        <% if(typeof error !== 'undefined'){ %>
        <p class="text-danger"><%= error %></p>
        <% } %>

        <form method="POST" action="">
          <div class="form-group py-2">
            <label for="secretPhrase" class="fw-bold pb-2"
              >Secret Phrase <span class="text-danger">*</span></label
            >
            <input
              type="password"
              name="secretPhrase"
              class="form-control"
              placeholder="Hint: The most famous meme song ever"
              required
            />
          </div>

          <div class="pt-3">
            <button class="btn btn-dark fw-bold spacing">Submit</button>
            <a class="btn btn-outline-dark fw-bold spacing mx-2" href="/"
              >Cancel</a
            >
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
