<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <div
      class="
        container-fluid
        d-flex
        justify-content-center
        align-items-center
        h-100
      "
    >
      <div class="bg-light w-50 p-4 rounded w-80">
        <!-- title -->
        <h1>Login</h1>
        <p>
          Not a meme lord yet?
          <a class="link-primary text-decoration-none" href="/signup"
            >Sign Up
          </a>
        </p>

        <!-- errors -->
        <% if(typeof errors !== 'undefined'){ %>
        <ul>
          <% errors.forEach(err => { %>
          <li class="text-danger"><%= err.message %></li>
          <% }) %>
        </ul>
        <% } %>

        <!-- form -->
        <form method="POST" action="">
          <div class="form-group py-2">
            <label for="username" class="fw-bold pb-2"
              >Username <span class="text-danger">*</span></label
            >
            <input class="form-control" type="text" name="username" />
          </div>

          <div class="form-group py-2">
            <label for="password" class="fw-bold pb-2"
              >Password <span class="text-danger">*</span></label
            >
            <input class="form-control" type="password" name="password" />
          </div>

          <div class="pt-3">
            <button class="btn btn-dark fw-bold spacing">Log in</button>
            <a class="btn btn-outline-dark fw-bold spacing mx-2" href="/"
              >Cancel</a
            >
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
