<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <div
      class="
        container-fluid
        d-flex
        justify-content-center
        align-items-center
        h-100
      "
    >
      <% if(typeof errors !== 'undefined'){ %>
      <ul>
        <% errors.forEach(err => { %>
        <li class="text-danger"><%= err.message %></li>
        <% }) %>
      </ul>
      <% } %>

      <div class="bg-light w-50 p-4 rounded w-80">
        <h1>New Message</h1>

        <form method="POST" action="">
          <div class="form-group py-2">
            <label for="title" class="fw-bold pb-2"
              >Title <span class="text-danger">*</span></label
            >
            <input type="text" name="title" class="form-control" required />
          </div>

          <div class="form-group py-2">
            <label for="message" class="fw-bold pb-2"
              >Message <span class="text-danger">*</span></label
            >
            <textarea
              name="message"
              id="message"
              cols="30"
              rows="5"
              class="form-control"
              required
            ></textarea>

            <div class="pt-3">
              <button class="btn btn-dark fw-bold spacing">Post</button>
              <a class="btn btn-outline-dark fw-bold spacing mx-2" href="/"
                >Cancel</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
