<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <div
      class="
        container-fluid
        d-flex
        justify-content-center
        align-items-center
        h-100
      "
    >
      <% if(typeof errors !== 'undefined'){ %>
      <ul>
        <% errors.forEach(err => { %>
        <li><%= err.message %></li>
        <% }) %>
      </ul>
      <% } %>
      <!-- prettier-ignore -->
      <% if(typeof error !== 'undefined'){ %>
      <p><%= error %></p>
      <% } %>

      <div class="bg-light w-50 p-4 rounded">
        <h1>Become a member</h1>
        <p>
          Already have an account?
          <a class="link-primary text-decoration-none" href="/login">Login</a>
        </p>
        <form method="POST" action="">
          <div class="form-group py-2">
            <label for="username">Username</label>
            <input class="form-control" type="text" name="username" />
          </div>

          <div class="form-group py-2">
            <label for="password">Password</label>
            <input class="form-control" type="password" name="password" />
          </div>

          <div class="form-group py-2">
            <label for="confirm-password">Confirm Password</label>
            <input
              class="form-control"
              type="password"
              name="confirm-password"
            />
          </div>

          <div class="form-group py-2">
            <label for="secretPassword">Secret Password</label>
            <input class="form-control" type="password" name="secretPassword" />
          </div>

          <label>Select Avatar:</label>
          <div class="form-group py-2">
            <label>
              <input type="radio" name="leo" value="leo" checked />
              <img
                src="https://humornama.com/wp-content/uploads/2020/08/Leonardo-DiCaprio-laughing-meme-template-of-Django-Unchained.jpg"
                class="w-25 rounded-circle"
              />
            </label>

            <label>
              <input type="radio" name="harold" value="harold" />
              <img
                src="https://humornama.com/wp-content/uploads/2020/08/Leonardo-DiCaprio-laughing-meme-template-of-Django-Unchained.jpg"
                class="w-25 rounded-circle"
              />
            </label>

            <label>
              <input type="radio" name="doge" value="doge" />
              <img
                src="https://humornama.com/wp-content/uploads/2020/08/Leonardo-DiCaprio-laughing-meme-template-of-Django-Unchained.jpg"
                class="w-25 rounded-circle"
              />
            </label>

            <label>
              <input type="radio" name="chad" value="chad" />
              <img
                src="https://humornama.com/wp-content/uploads/2020/08/Leonardo-DiCaprio-laughing-meme-template-of-Django-Unchained.jpg"
                class="w-25 rounded-circle"
              />
            </label>

            <label>
              <input type="radio" name="sam" value="sam" />
              <img
                src="https://humornama.com/wp-content/uploads/2020/08/Leonardo-DiCaprio-laughing-meme-template-of-Django-Unchained.jpg"
                class="w-25 rounded-circle"
              />
            </label>
          </div>

          <!-- apply grid layout -->
          <!-- change images -->
          <!-- solve border problem -->

          <div class="pt-3">
            <button class="btn btn-primary">Sign Up</button>
            <a class="btn btn-outline-primary mx-2" href="/">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
