<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body>
    <div
      class="
        container-fluid
        d-flex
        justify-content-center
        align-items-center
        h-100
      "
    >
      <div class="bg-light w-50 px-4 py-3 rounded">
        <!-- title -->

        <div class="text-center">
          <% if(!locals.isUpdating) { %>
          <h2>Become a member</h2>

          <p>
            Already a meme lord?
            <a class="link-primary text-decoration-none" href="/login">Login</a>
          </p>
          <% } else { %>
          <h2>Edit Profile</h2>
          <% } %>
        </div>

        <!-- errors -->

        <% if(typeof errors !== 'undefined'){ %>
        <ul>
          <% errors.forEach(err => { %>
          <li class="text-danger"><%= err.message %></li>
          <% }) %>
        </ul>
        <% } %>
        <!-- prettier-ignore -->
        <% if(typeof error !== 'undefined'){ %>
        <p class="text-danger"><%= error %></p>
        <% } %>

        <!-- form -->

        <form method="POST" action="">
          <div class="form-group py-2">
            <label class="fw-bold" for="username">Username</label>
            <input
              class="form-control"
              type="text"
              name="username"
              value="<%= !locals.isUpdating ? '' : user.username %>"
              required
            />
          </div>

          <div class="form-group py-2">
            <label class="fw-bold" for="password">Password</label>
            <input class="form-control" type="password" name="password" />
          </div>

          <div class="form-group py-2">
            <label class="fw-bold" for="confirm-password"
              >Confirm Password:</label
            >
            <input
              class="form-control"
              type="password"
              name="confirm-password"
            />
          </div>

          <% if (!locals.isUpdating) { %>
          <div class="form-group py-2">
            <label class="fw-bold" for="secretPassword">Secret Password</label>
            <input
              class="form-control"
              type="password"
              name="secretPassword"
              required
            />
          </div>
          <% } %>

          <label class="fw-bold">Select Avatar</label>

          <div class="button-group py-2 row" role="group">
            <div class="col">
              <label>
                <input type="radio" name="avatar" value="leo" />
                <img
                  src="/images/avatars/leo.jpg"
                  class="img-fluid avatar rounded-circle"
                />
              </label>
            </div>

            <div class="col">
              <label>
                <input type="radio" name="avatar" value="harold" />
                <img
                  src="/images/avatars/harold.jpg"
                  class="img-fluid avatar rounded-circle"
                />
              </label>
            </div>

            <div class="col">
              <label>
                <input type="radio" name="avatar" value="doge" />
                <img
                  src="/images/avatars/doge.jpg"
                  class="img-fluid avatar rounded-circle"
                />
              </label>
            </div>

            <div class="col">
              <label>
                <input type="radio" name="avatar" value="thomas" />
                <img
                  src="/images/avatars/thomas.jpg"
                  class="img-fluid avatar rounded-circle"
                />
              </label>
            </div>

            <div class="col">
              <label>
                <input type="radio" name="avatar" value="will" />
                <img
                  src="/images/avatars/will.jpg"
                  class="img-fluid avatar rounded-circle"
                />
              </label>
            </div>
          </div>

          <div class="pt-4">
            <button class="btn btn-dark fw-bold spacing">Sign Up</button>
            <a class="btn btn-outline-dark fw-bold spacing mx-2" href="/"
              >Cancel</a
            >
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
