html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

* {
  font-family: "Lato", sans-serif;
  max-width: 100%;
}

body {
  background-image: url("../images/double-bubble-dark.png");
}

.wrapper {
  overflow-x: hidden;
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"] + img {
  cursor: pointer;
}

[type="radio"]:checked + img {
  border: 4px solid steelblue;
}

.avatar {
  width: 6.5rem;
  height: 6.5rem;
}

.profile {
  width: 2.5rem;
  height: auto;
}

.navbar,
.message {
  box-shadow: 0 0 5px #f3f3f3;
}

.spacing {
  letter-spacing: 1px;
}
